body {
  background: linear-gradient(#551a8b, #9198e5);
  background-color: #9198e5;
  background-repeat: no-repeat;
  font-family: Poppins;
}

.app-container {
  background-color: white;
  max-width: 600px;
  margin: 55px auto;
  padding: 25px 25px 15px 25px;
  border-radius: 15px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.search-form {
  border-bottom: 1px solid #deca64;
  padding: 0 0 20px 0;
}

.search-input {
  border: 1px solid #551a8b;
  background: #f9f7fe;
  padding: 10px;
  margin: 5px 0 10px 5px;
  width: 80%;
  border-radius: 5px;
  font-size: 15px;
}

.search-submit {
  border: 1px solid #551a8b;
  background: #551a8b;
  padding: 10px;
  margin-left: 5px;
  width: 15%;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  transition: all 00ms ease-in-out;
}

.search-submit:hover {
  background: #f9f7fe;
  color: black;
  border: 1px solid #551a8b;
}

h1 {
  font-size: 50px;
}

.all-data {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.data-details {
  padding-top: 20px;
  color: gray;
}

strong {
  color: #86cef7;
}

.temperature-block {
  display: flex;
  margin-top: 10px;
}

.temp-icon {
  font-size: 70px;
  margin: 20px 10px 0 0;
}

.temp {
  font-size: 100px;
  font-weight: 500;
}

.unit {
  font-size: 30px;
  margin-top: 25px;
}

.col-sm {
  text-align: center;
  margin: 25px 0 25px 0;
}

.forecast-icon {
  max-width: 85%;
}

.forecast-temp-low,
.forecast-day {
  color: black;
  opacity: 0.4;
}

footer {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #deca64;
  padding: 30px 0 0 0;
}

a {
  color: #551a8b;
}

@media (max-width: 576px) {
  .app-container {
    width: 90%;
  }

  .search-input,
  .search-submit {
    font-size: 12px;
  }

  .search-input {
    width: 60%;
  }

  .search-submit {
    width: 35%;
  }

  footer {
    font-size: 12px;
    margin-top: 25px;
  }

  .col-sm {
    background-color: rgba(145, 152, 229, 0.16);
    padding: 10px;
    border-radius: 8px;
    margin: 5px auto;
    max-width: 76%;
  }

  .forecast-day {
    color: black;
    font-size: 18px;
  }
}
